.container-fluid {
  width: 90%;
  margin: 250px auto;
  padding: 0;
  box-shadow: 0.6rem 0.6rem 1rem #0000006b, -0.4rem -0.4rem 1rem #ffffff;
}

/*Carousel*/

.carousel-item {
  height: 320px;
  border-radius: 10px;
}

.carousel-container {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Efectos transición*/

.carousel-fade .carousel-item {
  transition: opacity 1s ease-in-out; /* Ajusta la duración y el tipo de transición según tus preferencias */
  opacity: 0; /* Establece la opacidad inicial en 0 para que los elementos se desvanezcan al entrar */
}

.carousel-fade .carousel-item.active {
  opacity: 1; /* Establece la opacidad en 1 para que el elemento activo sea completamente visible */
}

/* Botones Slider */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control {
  width: 50px !important;
}

/* Slide */

.slide-iframe {
  padding: 2.6rem;
  width: 500px;
  height: 330px;
}

.slide-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0;
}

.slide-image {
  padding: 2.6rem;
  border-radius: 50px;
  width: 500px;
  height: 330px;
}

.year {
  font-family: "PT Sans Narrow", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  font-size: 2.5rem;
  font-weight: bolder;
}

.title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;

  color: #fdfdfd;
  text-shadow: 1px 1px 2px #020202;
}

.description {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #faf4f425;
  font-weight: 800;
}
