@media (min-width: 1400px) {
  .carousel-item {
    height: 420px;
    border-radius: 10px;
  }

  .carousel-container {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-iframe {
    padding: 12px;
    width: 650px;
    height: 400px;
    margin: 25px;
  }
  .slide-image {
    border-radius: 50px;
    width: 645px;
    height: 450px;
    margin-left: 25px;
  }

  .year {
    font-family: "PT Sans Narrow", sans-serif;
    color: #7d7b7b;
    text-shadow: 1px 1px 2px #000000;
    font-size: 40px;
  }

  .title {
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 5px;
    color: #fdfdfd;
    text-shadow: 1px 1px 2px #020202;
  }

  .description {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #faf4f425;
  }

  .vis-item-content {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  /*Header*/

  .titulo-pagina {
    font-size: 17px;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .navbar-text {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }

  /*Carousel*/
  .container-fluid {
    width: 100%;
    margin: 250px auto;
  }

  .carousel-container {
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  .carousel-inner {
    display: flex;
    align-items: flex-start;
    height: 450px;
    overflow-y: scroll; /* Esto agrega una barra de desplazamiento vertical cuando el contenido excede la altura */
  }

  .carousel-control {
    height: 50px !important;
    margin-top: 250px;
  }

  /*Slide*/

  .slide-iframe {
    padding: 0;
    width: 350px;
    height: 250px;
  }

  .slide-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
  }

  .slide-image {
    border-radius: 50px;
    max-width: 490px;
    height: 380px;
  }

  .year {
    font-family: "PT Sans Narrow", sans-serif;
    color: #fefefe;
    text-shadow: 1px 1px 2px #000000;
    font-size: 35px;
    margin-top: 25px;
  }

  .title {
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 5px;
    color: #fdfdfd;
    text-shadow: 1px 1px 2px #020202;
  }

  .description {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-weight: 500;
  }

  /*Timeline*/

  .vis-item-content {
    font-size: 12px;
  }
}
