/*Header */

.bg-blue {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  display: flex;
  flex-direction: column-reverse;
  background: url(../assets/radioafuera.png) no-repeat center;
  background-size: cover;
  min-height: 50vh;
  opacity: 0.9;
}

.header .navbar {
  background-color: transparent !important;
}

.navbar .container {
  background-color: rgba(112, 110, 110, 0.603);
}

.nav-link {
  color: rgb(252, 252, 252) !important;
  font-weight: 400;
  font-size: 20px;
}

.navbar-text {
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-left: auto;
  align-self: center;
}

.titulo-pagina {
  color: rgb(195, 215, 225);
  text-shadow: 1px 1px 2px #000000;
  display: flex;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 44px;
}
