/*Header */
.header {
  display: flex;
  flex-direction: column-reverse;
  background: url(../assets/bg-carousel/radioafuera.webp) no-repeat center;
  background-size: cover;
  min-height: 50vh;
  opacity: 0.9;
}

.header .navbar {
  background-color: transparent !important;
}

.navbar .container {
  background-color: rgba(112, 110, 110, 0.603);
}

.nav-link {
  color: rgb(252, 252, 252) !important;
  font-weight: 400;
  font-size: 20px;
}

.navbar-text {
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-left: auto;
  align-self: center;
}

.titulo-pagina {
  color: rgb(195, 215, 225);
  text-shadow: 1px 1px 2px #000000;
  display: flex;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 44px;
}
